body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: #F0F8FF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroll-images-main {
  display: flex;
  height: 60vh;

  align-items: center;
  padding-left: 22.5%;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: auto;
  padding-top: 8vh;
}

.turistando-body {
  position: relative; 
  display: flex; 
  flex-direction: column;
}